<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
     <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{100,105}</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
        <key>frames</key>
        <dict>
            <key>maou_otomo01_01</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>maou_otomo01_02</key>
            <dict>
                <key>frame</key>
                <string>{{40,8},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>maou_otomo01_03</key>
            <dict>
                <key>frame</key>
                <string>{{72,8},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>maou_otomo02_01</key>
            <dict>
                <key>frame</key>
                <string>{{8,48},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>maou_otomo02_02</key>
            <dict>
                <key>frame</key>
                <string>{{40,48},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>maou_otomo02_03</key>
            <dict>
                <key>frame</key>
                <string>{{72,48},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>maou_otomo03_01</key>
            <dict>
                <key>frame</key>
                <string>{{8,88},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>maou_otomo03_02</key>
            <dict>
                <key>frame</key>
                <string>{{40,88},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>maou_otomo03_03</key>
            <dict>
                <key>frame</key>
                <string>{{72,88},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>maou_otomo04_01</key>
            <dict>
                <key>frame</key>
                <string>{{8,128},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>maou_otomo04_02</key>
            <dict>
                <key>frame</key>
                <string>{{40,128},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>maou_otomo04_03</key>
            <dict>
                <key>frame</key>
                <string>{{72,128},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>maou_otomo05_01</key>
            <dict>
                <key>frame</key>
                <string>{{8,168},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>maou_otomo05_02</key>
            <dict>
                <key>frame</key>
                <string>{{40,168},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>maou_otomo05_03</key>
            <dict>
                <key>frame</key>
                <string>{{72,168},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo01_01</key>
            <dict>
                <key>frame</key>
                <string>{{104,8},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo01_02</key>
            <dict>
                <key>frame</key>
                <string>{{136,8},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo01_03</key>
            <dict>
                <key>frame</key>
                <string>{{168,8},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo02_01</key>
            <dict>
                <key>frame</key>
                <string>{{104,48},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo02_02</key>
            <dict>
                <key>frame</key>
                <string>{{135,48},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo02_03</key>
            <dict>
                <key>frame</key>
                <string>{{168,48},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo03_01</key>
            <dict>
                <key>frame</key>
                <string>{{104,88},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo03_01</key>
            <dict>
                <key>frame</key>
                <string>{{104,88},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo03_02</key>
            <dict>
                <key>frame</key>
                <string>{{136,88},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo03_03</key>
            <dict>
                <key>frame</key>
                <string>{{168,88},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo04_01</key>
            <dict>
                <key>frame</key>
                <string>{{104,128},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo04_02</key>
            <dict>
                <key>frame</key>
                <string>{{136,128},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo04_03</key>
            <dict>
                <key>frame</key>
                <string>{{168,128},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo05_01</key>
            <dict>
                <key>frame</key>
                <string>{{136,88},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo05_02</key>
            <dict>
                <key>frame</key>
                <string>{{136,168},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>brave_otomo05_03</key>
            <dict>
                <key>frame</key>
                <string>{{168,168},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>yuusha_01</key>
            <dict>
                <key>frame</key>
                <string>{{104,208},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
            <key>yuusha_02</key>
            <dict>
                <key>frame</key>
                <string>{{168,208},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            
        </dict>
       
    </dict>
</plist>
